* {
    font-family: 'Monocraft', sans-serif;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #2c2c2c;
}

#app {
    display: flex;
    flex-direction: row;
}

.setting-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.setting-panel div {
    width: 100%;
    min-width: 350px;
    background-color: #2c2c2c;
    padding: 0 30px;
}

.setting-panel div h1 {
    text-decoration: underline;
    margin: 10px;
}

.setting-panel div h1, .setting-panel div label, .setting-panel div p {
    color: #fff;
    text-align: center;
}

.setting-panel > p {
    text-align: center;
    color: #c7c7c7;
    margin: 10px;
}

input {
    padding: 7px;
    margin: 5px;
    width: 75px;
    height: 15px;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: #9900ff;
    outline: none;
    background-color: #3c3c3c;
    transition: border-color 250ms ease-in;
    color: white;
    text-align: center;
}

input::placeholder {
    color: #999;
}

input:focus {
    border-color: #ff00ff;
}

.point-settings input#settings-connection {
    width: 200px;
}

.point-settings input#settings-start {
    width: fit-content;
}


.centerstage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerstage canvas {
    aspect-ratio: 1 / 1;
    height: 100vh;
}